<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>LinkTech School</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">
  <link rel="stylesheet" href="../../css/style.css" />
  <link rel="stylesheet" href="../../css/mobile-style.css">
</head>

<body>
  <header>
    <div class="container-fluid p-0">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="../index.html">
          <i class="fas fa-graduation-cap fa-2x mx-3"></i>LinkTech School</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fas fa-align-right text-light"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="mr-auto"></div>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <div class="dropdown">
                <a href="#" class="nav-link">ABOUT</a>
                <div class="dropdown-content">
                  <a href="about.html#message">Message from the Director</a>
                  <a href="mission.html#mission">Mission</a>
                  <a href="history.html#history">History</a>
                  <a href="campus.html#campus">Campus</a>
                </div>
              </div>
            </li>
            <li class="nav-item dropdown">
              <div class="dropdown">
                <a href="#" class="nav-link">ACADEMICS</a>
                <div class="dropdown-content">
                  <a href="../academics/rules.html#rules">Rules & Regulations</a>
                  <a href="../academics/calendar.html#calendar">Calendar</a>
                </div>
              </div>
            </li>
            <li class="nav-item dropdown">
              <div class="dropdown">
                <a href="#" class="nav-link">ADMISSION</a>
                <div class="dropdown-content">
                  <a href="../admission/apply.html#info">Information</a>
                  <a href="../admission/fees.html#fees">Tuition & Fees</a>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../contact.html#contact">CONTACT</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="container text-center">
      <div class="row">
        <div class="col-md-7 col-sm-12  text-white">
          <h6>EDUCATING THE SOCIETY SINCE 1996</h6>
          <h1>LEARN & GROW</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere accusamus eum dignissimos ipsa sequi expedita.
          </p>
        </div>
        <div class="col-md-5 col-sm-12  h-25">
          <img src="../../img/header-img.png" alt="Book"/>
        </div>
      </div>
    </div>
  </header>

  <main>
    <section id="campus" style="padding-top: 50px;">
        <div class="container">
            <div class="row py-5">
                <div class="col-8">
                    <h5 style="padding-bottom: 10px;">CAMPUS</h5>
                    <p><strong>LinkTech School has a spacious campus with:</strong></p>
                    <p style="color: rgb(116, 6, 6); font-size: 20px; font-weight: 700;">Our Values</p>
                    <p>
                        <ul>
                            <li>Prupose-built, centrally air-conditioned buildings and classrooms</li>
                            <li>360-set auditorium with state of the art lighting, projection and sound</li>
                            <li>Sports gymnasium and a fitness room</li>
                            <li>Swimming pool (25 meters with 6 inches)</li>
                            <li>Large sports field</li>
                            <li>Tennis/basketball courts</li>
                            <li>Modern Early Years specialized play area</li>
                            <li>Gardens and green space throughtout campus</li>
                        </ul>
                    </p>
                    <br>
                    <p><strong>Want to see it yourself? Watch our <a href="#">Campus Tour</a> or <a href="#">Schedule a Visit</a></strong></p>

                    <div class="container-fluid">
                        <div id="myCarousel" class="carousel slide bg-inverse w-100 ml-auto mr-auto" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src="../../img/slider1.jpg" alt="">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../img/slider2.jpg" alt="">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="../../img/slider3.jpg" alt="">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <p>ABOUT</p>
                    <p><a href="about.html#message">Message from the Director</a></p>
                    <p><a href="mission.html#mission">Mission</a></p>
                    <p><a href="history.html#history">History</a></p>
                    <p><a href="campus.html#campus" style="color:rgb(116, 6, 6)">Campus</a></p>
                </div>
            </div>
        </div>
    </section>
  </main>

  <footer>
    <div class="container-fluid p-0">
      <div class="row text-left">
        <div class="col-md-4 col-sm-5 px-5">
          <h4 class="text-light">LinkTech School</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum maxime ea similique illum corrupti</p>
        </div>
        <div class="col-md-4 col-sm-12 px-5">
          <h4 class="text-light">Newsletter</h4>
          <p class="text-muted">Stay Updated</p>
          <form class="form-inline">
            <div class="col pl-0">
              <div class="input-group pr-5">
                <input type="text" class="form-control bg-dark text-white" id="inlineFormInputGroupUsername2" placeholder="Email">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <a href=""><i class="fas fa-arrow-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-4 col-sm-5 px-5">
          <h4 class="text-light">Mission & Vision</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum maxime ea similique illum corrupti</p>
        </div>
      </div>
    </div>
    <div class="container-fluid pt-5">
      <div class="row text-center">
        <div class="col-md-12 col-sm-5">
          <p class="text-muted">Copyright &copy;2019 All rights reserved | Designed by <span>Victor C. Rozario</span></p>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row text-center">
        <div class="col-md-12 col-sm-5">
          <p class="text-muted">Follow Us | Let us be social</span></p>
          <div class="column text-light">
              <a href=""><i class="fab fa-facebook-f px-2"></i></a>
              <a href=""><i class="fab fa-instagram px-2"></i></a>
              <a href=""><i class="fab fa-twitter px-2"></i></a>
              <a href=""><i class="fab fa-youtube px-2"></i></a>
            </div>
        </div>
      </div>
  </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script>
    //Fixed Navbar
    $(window).on("scroll", function() {
      if($(window).scrollTop()) {
        $('nav').addClass('sticky');
      } else {
        $('nav').removeClass('sticky');
      }
    });

    //Auto Carousel
    //Initialize tooltip component
    $(function() {
        $('[data-toggle="tooltip"]').tooltip();
    });
    //Initialize popover component
    $(function() {
        $('[data-toggle="popover"]').popover();
    });
  </script>
</body>

</html>